@font-face {
    font-family: primary-font;
    src: url(./assets/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: bold-font;
    src: url(./assets/fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: extra-bold-font;
    src: url(./assets/fonts/Poppins-ExtraBold.ttf);
}

/* For hide input spinner: Chrome, Edge, Safari */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* For Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}


/* body start start here */

body {
    font-family: primary-font;
    background-color: #F0F0F0;

    /* flexbox to center the container */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    margin: auto;
    width: 30%;
    height: 60%;
    padding: 20px 40px;
    background-color: #fff;
    border-radius: 20px 20px 50px 20px;
}

/* form style start */

form {
    width: 100%;
    margin: 20px auto;
}

.input-container {
    display: flex;
    align-items: center;
}

.input-container label span {
    text-transform: uppercase;
    letter-spacing: 0.3em;
    font-family: bold-font;
    color: #6C6C6C;
}

input {
    width: 60%;
    margin-top: 7px;
    padding: 15px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: extra-bold-font;
}

input:focus {
    outline: none;
}


.err-msg {
    display: block;
    color: red;
    font-size: 12px;
    padding-top: 10px;
    min-height: 16px;
}

/* form style end */

/* line & icon style start */

.line-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.line-icon-container hr {
    flex: 1;
    /*  Make the <hr> take up available space */
    border: 1px solid #ccc;
}

.icon-img {
    background-color: #864CFF;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    height: auto;
}

/* line & icon style end */

/* result section style start */

.result-sect {
    font-family: extra-bold-font;
    font-size: 35px;
    margin-top: -30px;
}

.output-text {
    color: #864CFF;
}

/* result section style end */


/* responsive for laptop device */
@media screen and (max-width: 1440px) {
    .container {
        width: 50%;
    }
}

@media screen and (max-width: 1024px) {
    .container {
        width: 50%;
    }
}

/* responsive for mobile device */
@media screen and (max-width: 768px) {
    body {
        margin: 0 10px;
    }

    .container {
        width: 80%;
        margin: auto 10px;
    }

    input {
        width: 90%;
        padding: 10px 20px;
    }

    .line-icon-container {
        flex-direction: column;
        position: relative;
        margin-top: 40px;
    }

    .line-icon-container hr {
        flex: none;
        width: 100%;
    }

    .icon-img {
        position: absolute;
    }

    .result-sect {
        font-size: 25px;
        margin-top: 50px;
    }
}